<div class="row" ng-repeat="post in posts">
  <div class="large-12 columns">

    <div ng-show="post.deleted_at != null" class="user-posts_item_recover">
      <span><%= t('posts.recover_answer') %></span>
      <a ng-click="recoverPost(post)"><%= t('posts.recover') %></a>
    </div>

    <div ng-show="post.deleted_at == null">
      <div class="user-posts_item_title">
        <span ng-switch on="post.author.id == current_user.id">
          <a href="/#!/profile" ng-switch-when="true">{{current_user.fullname}}</a>
          <a href="/#!/u/{{post.author.id}}" ng-switch-default>{{post.author.fullname}}</a>
        </span>,
        <span>{{post.created_at | timeAgo}}</span>
      </div>

      <table class="user-posts_item_body">
        <tr>
          <td width="70">
            <span ng-switch on="post.author.id == current_user.id">
              <a href="/#!/profile" ng-switch-when="true" class="th radius">
                <img ng-src="{{current_user.avatar.small.url}}" width="{{current_user.avatar.small.width}}" height="{{current_user.avatar.small.height}}" />
              </a>

              <a href="/#!/u/{{post.author.id}}" ng-switch-default class="th radius">
                <img ng-src="{{post.author.avatar.small.url}}" width="{{post.author.avatar.small.width}}" height="{{post.author.avatar.small.height}}" />
              </a>
            </span>
          </td>
          <td>
            {{post.body}}
          </td>
        </tr>
        <tr>
          <td class="user-posts_item_body_toolbar" colspan="2">
            <span>
              <a href="#" ng-show="post.author.id != current_user.id">
                <i class="icon-thumbs-up"></i>
                <%= t('posts.like') %>
              </a>

              <a ng-show="post.author.id == current_user.id" ng-click="removePost(post)">
                <i class="icon-remove"></i>
                <%= t('delete') %>
              </a>
            </span>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>