<div class="row">
  <div class="span4">
    <a href="/#!/profile" class="userAvatar">
      <%= image_tag nil, :'ng-src' => '{{current_user.avatar.small.url}}', :size => '{{current_user.avatar.small.size}}' %>
    </a>
  </div>
  <div class="span8">

  </div>
</div>