<div class="row">

  <%= render 'user_sidebar' %>

  <div class="large-9 columns">
    <div class="user-posts">
      <h5 class="subheader"><a href="/#!/home" class="user-posts_title">{{current_user.fullname}}</a></h5>

      <form name="postForm" ng-submit="sendStatus()" class="user-posts_form">
        <textarea ng-model="status_message.body" ui-keydown="{ 'ctrl-13': 'sendStatus()' }" class="user-posts_form_input" placeholder="<%= t('posts.what_happened') %>"></textarea>
        <button type="submit" class="button small"><%= t('posts.send') %></button>
      </form>

      <%= render 'static/partials/wall' %>
    </div>
  </div>
</div>