<div class="row">
  <div class="span3">
    <div class="user-info">

      <a href="/#!/profile" class="user-link">
        <img data-ng-src="{{current_user.avatar.medium.url}}" width="{{current_user.avatar.medium.width}}" height="{{current_user.avatar.medium.height}}" class="img-polaroid" />
      </a>

      <div class="info" data-ng-show="user.bio.length">
        <h3>About</h3>
        <span>{{current_user.bio}}</span>
      </div>
    </div>
  </div>

  <div class="span9">
    <div class="clearfix">
      <div class="user-name pull-left">
        <h2>{{current_user.fullname}}</h2>
      </div>
      <div class="pull-right">
        <a href="/#!/profile/edit" class="btn btn-success">
          <i class="icon icon-edit icon-white"></i>
          Edit profile
        </a>
      </div>
    </div>

    <h3>Stream</h3>
    <%= render 'static/partials/wall' %>
  </div>
</div>