<ul class="side-nav">
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
    <li><%= link_to t('users.forgot_password'), new_password_path(resource_name) %></li>
  <% end -%>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <li><%= link_to t('users.did_not_receive_confirmation_instructions'), new_confirmation_path(resource_name) %></li>
  <% end -%>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <li><%= link_to t('users.did_not_receive_unlock_instructions'), new_unlock_path(resource_name) %></li>
  <% end -%>

  <%- if devise_mapping.omniauthable? %>
    <li class="divider"></li>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <li><%= link_to t('users.sign_in_through_omniauth', :provider => provider.to_s.titleize), omniauth_authorize_path(resource_name, provider) %></li>
    <% end -%>
  <% end -%>
</ul>
