.row
  .span3
    .user-info
      = link_to '/#!/profile', class: 'user-link' do
        %img{ 'ng-src' => '{{current_user.avatar.small}}' }
        = '{{current_user.first_name}} {{current_user.nickname}} {{current_user.last_name}}'
  .span9
    %h1 Search

    .search-item{ 'ng-repeat' => 'result in search_results' }
      .user-avatar
        %img{ 'ng-src' => '{{result.avatar.small}}' }
      .user-name
        = link_to '{{result.first_name}} {{result.nickname}} {{result.last_name}}', '/#!/u/{{result.id}}'
      .user-info
