// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap/variables";

.userAvatar {
  display: block;
  width: 200px;
  margin-bottom: 20px;
}
.userName {
  color: $textColor;
  font-size: $baseFontSize * 1.25;
}

.userStatusForm {
  display: block;
  margin-bottom: 20px;
  .userStatusForm_message {
    width: 685px;
  }
  .actions {
    text-align: right;
  }
}