<div class="row">
  <div class="span3">
    <div class="user-info">
      <a href="/#!/profile" class="user-link">
        <img ng-src="{{current_user.avatar.small}}">
        {{current_user.first_name}} {{current_user.nickname}} {{current_user.last_name}}
      </a>
    </div>
  </div>
  <div class="span9">
    <h2>Search</h2>

    <div class="search-item" ng-repeat="result in search_results">
      <div class="user-avatar">
        <img ng-src="{{result.avatar.small}}">
      </div>
      <div class="user-name">
        <a href="/#!/u/{{result.id}}">{{result.first_name}} {{result.nickname}} {{result.last_name}}</a>
      </div>
      <div class="user-info"></div>
    </div>

  </div>
</div>